doctype html
html
  head
    meta(charset="utf-8")
    title Minipainting - A Discord community for miniature painters
    meta(name="viewport" content="width=device-width, user-scalable=no")
    meta(name="description" content="Minipainting is a friendly Discord community focused around miniature paintng")
    meta(name="google-site-verification" content="grHvR3k5M6NM7W70-SllUEt1xk6o73W60sQLU4vmzFI")
    link(href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" rel="stylesheet")
    link(href="/styles.css" rel="stylesheet" type="text/css" media="all")
    link(rel="shortcut icon" href="/server-icon.png")
  body
    header
      img(src="logo-white.png" alt="minipainting")
    main(role="main")
      block content
    footer
      p
        | We are a group of friendly miniature painting enthusiasts from all
        | around the world, gathered on a Discord server where we talk about
        | our favorite hobby.
      p
        | From total novices to veterans, all levels are welcome as long as
        | your goal is sharing, caring and helping each other out.
      a.cta(href="https://discord.gg/WREsGYF") Join us on Discord
      aside
        | Want to see what our members are up to? Check out our
        |
        a(href="https://instagram.com/miniature_painting_discord") Instagram

