extends layout.pug

block content
  section.leaderboard
    .col
      h2 Lifetime Leaderboard
      table
        tbody
          each result, index in scores.results
            tr
              td= result.points
              td= scores.users[index].username
    .col
      h2 Annual Leaderboard
      table
        tbody
          each result, index in annual.results
            tr
              td= result.points
              td= annual.users[index].username
