*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

html,
body {
  min-height: 100%;
  font-family: sans-serif;
  color: rgb(185, 187, 190);
}

a:link {
  color: rgb(114, 137, 218);
}

a:hover {
  text-decoration: none;
}

body {
  background-color: rgb(32, 34, 37);
  display: flex;
  justify-content: center;
  font-size: 1.6rem;
}

body > section {
  background-color: rgb(54, 57, 63);
  box-shadow: 0 0.2rem 1rem 0 rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  min-width: 58rem;
  max-width: 72rem;
}

header {
  text-align: center;
  padding: 4rem 4rem 2rem;
}

main {
  padding: 2rem 4rem;
  box-shadow: inset 0 0 1rem rgba(0, 0, 0, 0.5);
}

footer {
  padding: 2rem 4rem 4rem;
  background-color: rgba(255, 255, 255, 0.1);
}

footer > p {
  line-height: 2.2rem;
}

footer > section.cta {
  margin: 2rem 0;
  text-align: center;
}

footer > section.cta a {
  background-color: rgb(114, 137, 218);
  display: inline-block;
  color: white;
  text-decoration: none;
  font-size: 2rem;
  line-height: 4rem;
  padding: 0 1.6rem;
  border-radius: 0.3rem;
  transition: background-color 0.17s ease;
}

footer > section.cta a:hover {
  background-color: rgb(114, 137, 218);
}

/* Leaderboard */

.leaderboard {
  display: flex;
}

.leaderboard > .col {
  flex: 1;
}
